body {
  margin: 0; padding: 0; box-sizing: border-box;
  background: linear-gradient(to top, rgba(51, 51, 161, 0.9), rgba(174, 102, 180, 0.9));
}


/************** Sliding Lightbox - Alles ***********/

/*** Lightbox - Wrapper & controls ***/

.wrapper_sitecontent_all {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.wrapper_slider_all {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  opacity: 1;
  pointer-events: all;
  position: absolute;
  width: 550px;
  height: 200px;
  display: flex;
  justify-content: center;
  perspective: 450px;
  margin: 5% 0 5% 0;
}


.controls {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.left-arrow, .right-arrow {
  position: relative;
  min-width: 60px;
  min-height: 60px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10% 0 10%;
  cursor: pointer;
}

.left-arrow-icon, .right-arrow-icon {
  position: absolute;
  top: 14px;
  left: 15px; 
  width: 30px;
  height: 30px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-top-right-radius: 25%;
}

.left-arrow-icon {
  transform: rotate(-135deg);
}

.right-arrow-icon {
  transform: rotate(45deg);
}




/*** Sliding Lightbox - Thumbnails & Lupe ***/

.lupe {
  position: absolute;
  top: 90px;
  left: 250px;
  width: 50px;
  height: auto;
  transition: all 0.25s ease;
  cursor: pointer;
}

.lupe:hover {
  top: 75px;
  left: 235px;
  width: 80px;
  height: auto;
  z-index: 99;
}


.thumbnail_1 {
  width: 50%;
  height: auto;
  transform: rotateY(45deg);
  box-shadow: 2px 2px 10px white;
}

.thumbnail_2 {
  width: 50%;
  height: auto;
  transform: rotateY(-45deg);
  box-shadow: 2px 2px 10px white;
}

/*** Sliding Lightbox - Zoomed-out elements ***/

.light_box_one, .light_box_two, .light_box_three, .light_box_four {
  position: absolute;
  width: 40%;
  height: auto;
  z-index: 999;
  border-radius: 15px;
  box-shadow: 3px 3px 30px white;
}

.light_box_one, .light_box_three {
  top: 5%;
  left: 5%;
}

.light_box_two, .light_box_four {
  bottom: 5%;
  right: 5%;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

.grey_lightbox_backgr_one, .grey_lightbox_backgr_two {
  background: rgba(40,40,40,0.8);
  position: absolute;
  width: 100%;
  height: 100%;
}

.grow {
  animation: grow 1s;
}

@keyframes grow {
  from { transform: scale(0); }
  to { transform: scale(1); }
}



/************** Sliding Lightbox - Responsive Design ***********/

@media (max-width: 1023px) {

  .thumbnail {
      width: 80%;
      height: 20%;
  }

  .expand_1, .expand_2 {
      width: 90%;
      height: auto;
  }

  .expand_1 {
      top: 7%;
      left: 3%;
  }

  .expand_2 {
      bottom: 7%;
      left: 3%;
  }

  .thumbnail_wrapper {
      width: 350px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      perspective: 350px;
  }
  
  .lupe {
      position: absolute;
      top: 40px;
      left: 162px;
      width: 30px;
      height: auto;
  }

  .lupe:hover {
      top: 30px;
      left: 150px;
      width: 50px;
      height: auto;
      z-index: 99;
  }

}